.index>footer{
    width: 100vw;
    height: 0.8rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background: #fff;
    padding-top: 0.2rem;
}
.index>footer a{
    flex: 1;
    text-align: center;
    /* line-height: 0.8rem; */
    
}
.index>footer a>p{
    color: #333;
}
.index>footer a>img{
    width: 0.4rem;
}
