.homehead>.logo{
    overflow: hidden;
    background: #fff;
    height: 0.8rem;
}
.homehead .logo>img{
    float: left;
    padding: 0.2rem ;
    line-height: 0.8rem;
}
.homehead .logo>.search{
    float: right;
    background: gray;
    border-radius: 0.2rem;
    padding: 0.1rem 0.3rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}